PORT=4000
NODE_ENV=production
FRONTEND_URL=http://localhost:3000

# MongoDB Atlas Connection
MONGO_URI=mongodb+srv://donblezzy:Myschool12345@shopit.z1pjnwt.mongodb.net/ShopIT?retryWrites=true&w=majority&appName=ShopIT


# JWT Configuration
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_TIME=7d
COOKIE_EXPIRES_TIME=7

# Stripe Configuration
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret

# Email Configuration (Mailtrap)
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=your_mailtrap_username
SMTP_PASSWORD=your_mailtrap_password
SMTP_FROM_EMAIL=noreply@shopit.com
SMTP_FROM_NAME=ShopIT

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret